$headSize: 60px; // 编辑器头部的高度
$menuSize: 275px; // 编辑器菜单宽度
$operatorSize: 275px; // 右侧操作栏的宽度

$ibc: #dcdfe6; // 边框色
$ibl: #ebeef5; // 边框色(轻)
$itc: #314659; // 字体颜色
$icc: rgba(0, 0, 0, 0.45); // 图标颜色
$boxShadowColor: #f0f1f2; // 阴影颜色
$primary: #409EFF; // 基础色

.react-visual-editor {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgba(black, 0.1);
  }

  .react-visual-editor-menu,
  .react-visual-editor-head,
  .react-visual-editor-operator,
  .react-visual-editor-body, {
    position: absolute;

    &.react-visual-editor-head {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      height: $headSize;
      z-index: 1;
    }

    &.react-visual-editor-menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: $menuSize;
      background-color: white;
      border-right: solid 1px $ibc;
      padding: 20px;
      box-sizing: border-box;

      .react-visual-editor-menu-item {
        border: solid 2px $ibc;
        margin-bottom: 20px;
        position: relative;
        padding: 40px 16px 20px 16px;
        text-align: center;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
        }

        &:hover {
          border-color: $primary;
          cursor: move;
        }

        .react-visual-editor-menu-item-name {
          position: absolute;
          top: -2px;
          left: -2px;
          background-color: $primary;
          color: white;
          font-size: 12px;
          line-height: 2em;
          padding: 0 20px;
        }
      }
    }

    &.react-visual-editor-operator {
      top: 0;
      right: 0;
      bottom: 0;
      width: $operatorSize;
      background-color: white;
      border-left: solid 1px $ibc;
    }

    &.react-visual-editor-body {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      bottom: 0;
      box-sizing: border-box;
      padding-top: $headSize;
      padding-bottom: 300px;
      background-color: #f6f6f6;
    }
  }
}